{% extends 'Admin_Base.html' %}

{% block title %}
    Admin Edit Product Page
{% endblock %}

{% block content %}
    <main class="container">
        <h2 class="text-primary border-bottom border-primary border-3 my-2 pb-2">Edit Category</h2>
        <div class="">
            {% include 'Features/Message.html' %}
            <form method="post" enctype="multipart/form-data" class="border border-2 border-secondary-subtle form-border p-3 rounded-4 bg-light-subtle">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-dark text-center">
                            <tr>
                                <th>Label</th>
                                <th>Old Data</th>
                                <th>New Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="name" class="form-label">Product Name</label></td>
                                <td>{{Product.name}}</td>
                                <td><input type="text" name="name" id="name" class="form-control"/></td>
                            </tr>
                            <tr>
                                <td><label for="vender" class="form-label">Vender Name</label></td>
                                <td>{{Product.vender}}</td>
                                <td><input type="text" name="vender" id="vender" class="form-control"/></td>
                            </tr>
                            <tr>
                                <td><label for="image" class="form-label">Image</label></td>
                                <td class="text-center"><img src="{{Product.image.url}}" alt="{{Product.name}}" width="100"/></td>
                                <td><input type="file" name="image" id="image" class="form-control"/></td>
                            </tr>
                            <tr>
                                <td><label for="description" class="form-label">Description</label></td>
                                <td width="50%">{{Product.descriptions}}</td>
                                <td><textarea name="description" id="description" class="form-control" cols="20" rows="2"></textarea></td>
                            </tr>
                            <tr>
                                <td><label for="quantity" class="form-label">Quantity</label></td>
                                <td>{{Product.quantity}}</td>
                                <td><input type="number" name="quantity" id="quantity" class="form-control"/></td>
                            </tr>
                            <tr>
                                <td><label for="originalPrice" class="form-label">Original Price</label></td>
                                <td>{{Product.original_price}}</td>
                                <td><input type="number" name="originalPrice" id="originalPrice" class="form-control"/></td>
                            </tr>
                            <tr>
                                <td><label for="sellingPrice" class="form-label">Selling Price</label></td>
                                <td>{{Product.selling_price}}</td>
                                <td><input type="number" name="sellingPrice" id="sellingPrice" class="form-control"/></td>
                            </tr>
                            <tr>
                                <td><label class="form-label">Status</label></td>
                                <td class="text-center">
                                    {% if Product.status %}
                                        <span class="badge bg-danger">Hide</span>
                                    {% else %}
                                        <span class="badge bg-secondary">Show</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="status" id="status1" value=True class="btn-check" />
                                    <label for="status1" class="btn btn-outline-danger">Hide</label>
                                    <input type="radio" name="status" id="status2" value=False class="btn-check" />
                                    <label for="status2" class="btn btn-outline-primary">Show</label>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-label">EMI</label></td>
                                <td class="text-center">
                                    {% if Product.emi %}
                                        <span class="badge bg-secondary">EMI</span>
                                    {% else %}
                                        <span class="badge bg-danger">No Emi</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="emi" id="emi1" value=True class="btn-check" />
                                    <label for="emi1" class="btn btn-outline-primary">EMI</label>
                                    <input type="radio" name="emi" id="emi2" value=False class="btn-check" />
                                    <label for="emi2" class="btn btn-outline-danger">No Emi</label>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-label">Treading</label></td>
                                <td class="text-center">
                                    {% if Product.treading %}
                                        <span class="badge bg-secondary">Treading</span>
                                    {% else %}
                                        <span class="badge bg-danger">No treading</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="treading" id="treading1" value=True class="btn-check" />
                                    <label for="treading1" class="btn btn-outline-primary">Treading</label>
                                    <input type="radio" name="treading" id="treading2" value=False class="btn-check" />
                                    <label for="treading2" class="btn btn-outline-danger">Not Treading</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><input type="submit" value="Submit" class="btn btn-primary w-100" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </main>
{% endblock %}