{% extends 'Admin_Base.html' %}

{% block title %}
    Check Orders Page
{% endblock %}

{% block content %}
    <main class="container">
        <h2 class="text-primary border-bottom border-primary border-3 my-2 pb-2">Check Orders</h2>
        {% if Orders %}
            <form action="" method="post" class="d-flex gap-2 my-2">
                {% csrf_token %}
                <select name="user" id="user" class="form-select">
                    {% for user in Users %}
                    <option value="{{user}}">{{user}}</option>
                    {% endfor %}
                </select>
                <select name="payment" id="payment" class="form-select">
                    <option value=True>Paid</option>
                    <option value=False>Not Paid</option>
                </select>
                <input type="submit" value="Filter" class="btn btn-primary">
                <a href="{% url 'check_order' %}" class="btn btn-danger">Clear</a>
            </form>
            <div class="table-responsive">
                {% include 'Features/Message.html' %}
                <table class="table table-bordered table-hover">
                    <thead class="table-dark text-center">
                        <tr>
                            <th>Sl.no</th>
                            <th>User</th>
                            <th>Item Name</th>
                            <th>Image</th>
                            <th>Total Item</th>
                            <th>Total Amount</th>
                            <th>Payment</th>
                            <th>Accept</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in Orders %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{order.user.userName}}</td>
                            <td>{{order.product.name}}</td>
                            <td class="text-center"><img src="{{order.product.image.url}}" alt="{{order.product.name}}" width="100" /></td>
                            <td>{{order.quantity}}</td>
                            <td>Rs. {{order.total_amount | stringformat:'d'}}/-</td>
                            <td class="text-center">
                                {% if order.payment %}
                                <span class="badge bg-success">Paid</span>
                                {% else %}
                                <span class="badge bg-danger">Not Paid</span>
                                {% endif %}
                            </td>
                            <td><a href="{% url 'accept_order' order.id %}" class="btn btn-success w-100">Accept</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="text-center">
                <span class="text-danger display-3">All orders are delivery</span>
            </div>
        {% endif %}

    </main>
{% endblock %}