{% extends "Index.html" %}

{% block title %}
    Product Page
{% endblock %}

{% block content %}
    <div class="container position-relative" style="min-height: 80vh">
        <div class="my-2 py-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <h3 class="text-secondary border-bottom">Edit Category</h3>
                </div>
                <form method="post" enctype="multipart/form-data" class="border border-2 rounded-4 p-3 col-8 offset-2">
                    {% csrf_token %}
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><label class="form-label fw-bold my-1">Name</label></td>
                                <td><input type="text" name="name" class="form-control" value="{{ data.name }}"></td>
                                <td><label class="form-label fw-bold my-1">Vender</label></td>
                                <td><input type="text" name="vender" class="form-control" value="{{ data.vender }}"></td>
                            </tr>
                            <tr>
                                <td><label class="form-label fw-bold my-1">Image</label></td>
                                <td><input type="image" class="form-control" src="{{ data.product_image.url }}" alt="" style="width: 4rem"></td>
                                <td colspan="2"><input type="file" name="Image" class="form-control"></td>
                            </tr>
                            <tr>
                                <td><label class="form-label fw-bold my-1">Description</label></td>
                                <td colspan="3"><textarea name="description" id="" cols="30" class="form-control" rows="4">{{ data.description }}</textarea></td>
                            </tr>
                            <tr>
                                <td><label class="form-label fw-bold my-1">Original Price</label></td>
                                <td><input type="number" name="original" class="form-control" value="{{ data.original_price }}"></td>
                                <td><label class="form-label fw-bold my-1">Selling Price</label></td>
                                <td><input type="number" name="selling" class="form-control" value="{{ data.selling_price }}"></td>
                            </tr>
                            <tr>
                                <td><label class="form-label fw-bold my-1">Quantity</label></td>
                                <td><input type="number" name="quantity" class="form-control" value="{{ data.quantity }}"></td>
                                <td colspan="2"><input type="submit" value="Submit" class="btn btn-primary w-100"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

        </div>
    </div>
{% endblock %}