{% extends "Index.html" %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
    <div class="container">
        <div class="my-2 py-3">
            <div class="row mt-4">
                <div class="col-12">
                    <h3 class="text-secondary border-bottom">Login Now</h3>
                </div>
                <div class="col-6 mt-4">
                    <form action="" method="post">
                        {% csrf_token %}
                        <label class="form-label">User Name</label>
                        <input type="text" name="username" id="username" class="form-control">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control">
                        <button type="submit" class="btn btn-primary w-100 my-2">Log In</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}