{% extends "Index.html" %}

{% block title %}
    Product Page
{% endblock %}

{% block content %}
    <div class="container position-relative">
        <div class="my-2 py-3">
            <div class="row my-3">
                <div class="col-6 my-1">
                    <h3 class="text-secondary">Product Page</h3>
                </div>
                <div class="col-6 my-1 position-relative">
                    <button type="button" class="btn btn-info position-absolute end-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create Product</button>
                </div>
                <div class="border border-1"></div>
                {% include "Features/Message.html" %}
                <div class="col-12 table-responsive">
                    <table class="table table-hover table-striped table-bordered">
                        <thead class="table-dark">
                            <tr class="text-center">
                                <th>Name</th>
                                <th>Vender</th>
                                <th>Image</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Original Price</th>
                                <th>Selling Price</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in information %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.vender }}</td>
                                    <td><a href="{{ item.product_image.url }}"><img src="{{ item.product_image.url }}" alt="{{ item.name }}" style="width: 5rem;height: 7rem;"></a></td>
                                    <td>{{ item.description | slice:"0:50" | add:"..."}}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.original_price }}</td>
                                    <td>{{ item.selling_price }}</td>
                                    <td class="text-center"><a href="{% url 'edit_product' item.id %}" class="btn btn-primary">Edit</a></td>
                                    <td class="text-center"><a href="{% url 'delete_product' item.id %}" class="btn btn-danger">Delete</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                      <label for="category" class="form-label">Category</label>
                      <select name="category" id="category" class="form-select">
                          {% for category in category_option %}
                          <option value="{{ category.name }}">{{ category.name }}</option>
                          {% endfor %}
                      </select>
                      <div class="row">
                          <div class="col-6">
                          <label class="form-label">Product Name</label>
                            {{ form.name }}
                          </div>
                          <div class="col-6">
                            <label class="form-label">Vender</label>
                            {{ form.vender }}
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                            <label class="form-label">Image</label>
                            {{ form.product_image }}
                            <label class="form-label">Quantity</label>
                            {{ form.quantity }}
                          </div>
                          <div class="col-6">
                            <label class="form-label">Description</label>
                            {{ form.description }}
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                            <label class="form-label">Original Price</label>
                            {{ form.original_price }}
                          </div>
                          <div class="col-6">
                            <label class="form-label">Selling Price</label>
                            {{ form.selling_price }}
                          </div>
                      </div>
                      <button type="submit" class="btn btn-primary w-100 my-2">New</button>
                    </form>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}