{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible p-2 ps-4 w-100 rounded-5">
            {{ message }}
            <button class="btn-close py-2" data-bs-dismiss="alert"></button>
        </div>
        {% else %}
        <div class="alert alert-{{ message.tags }} alert-dismissible p-2 ps-4 w-100 rounded-5">
            {{ message }}
            <button class="btn-close py-2" data-bs-dismiss="alert"></button>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}