.decoration{
    text-decoration: none;
}
main{
    min-height: 70vh;
}
.index-page{
    width: 10vw;
    height: 100vh;
    background-image: url(../Image/Background1.jpg);
}
.card-fading{
    animation: fading 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
@keyframes fading {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}