{% extends "Index.html" %}

{% block title %}
    Cart Page
{% endblock %}

{% block content %}
<section class="bg-light py-4 my-5" style="min-height: 500px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-2 pb-2 border-bottom border-3">Cart</h4>
            </div>
            <table class="table table-bordered table-hover">
                <thead class="table-dark text-center">
                    <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Unit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in favItem %}
                    <tr>
                        <td class="text-center"><a href="{{ item.product.product_image.url }}"><img src="{{ item.product.product_image.url }}" height="50px" alt="{{ item.product.name }}"></a></td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.selling_price | stringformat:'d' }}</td>
                        <td class="text-center"><a href="{% url 'removetofav' item.id %}" class="btn btn-danger" onclick="return confirm('Are you Sure to remove : {{ item.product.name }} Favorite')">Remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}