{% extends "Index.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    {% include "Features/Slider.html" %}
    <div class="container">
        <div class="my-2 py-3">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-secondary border-bottom position-relative">Latest Offers<span class="badge bg-primary p-1 fs-6 position-absolute top-0">{{ length }}</span></h3>
                </div>
                <div class="col-12 row g-5 container mt-2 d-flex">
                    {% for data in treading_item %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <a href="{% url 'product_view' data.category.name data.name %}" style="text-decoration: none">
                            <div class="card" style="height: 22rem">
                                <img src="{{ data.product_image.url }}" alt="" style="height: 15rem;">
                                <div class="card-body">
                                    <h4 class="lead text-center text-primary fw-bold">{{ data.name | slice:'0:15'}}</h4>
                                    <p class="card-text">
                                      <span class="float-start fw-bold text-danger text-decoration-line-through">Rs. {{ data.original_price | stringformat:'d' }}</span>
                                      <span class="float-end fw-bold bg-success text-light p-1 rounded-2">Rs. {{ data.selling_price | stringformat:'d' }}</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}