{% extends "Index.html" %}

{% block title %}
    Collection Page
{% endblock %}

{% block content %}
<section class="bg-light py-4 my-5" style="min-height: 500px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-2 pb-2 border-bottom border-3">{{ product }} Products</h4>
            </div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'collection_view' product.category.name %}">Catagory</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product }}</li>
              </ol>
            </nav>
            <div class="col-12 col-md-6 col-lg-4 my-3 position-relative p-4">
                {% if product.trending %}
                <div class="hot bg-danger text-light end-0 p-1">Hot</div>
                {% endif %}
                <a href="{{ product.product_image.url }}"><img src="{{ product.product_image.url }}"  class="w-100 card-image-top" alt="{{ product.name }}"  style="height: 25rem;"></a>
            </div>
            <div class="col-12 col-md-6 col-lg-8 my-3 p-4 d-flex flex-column justify-content-center">
                <h2 class="text-success fw-bold text-uppercase">{{ product.name }}</h2>
                <p class="lead">- {{ product.vender }}</p>
                <p class="fs-6">{{ product.description }}</p>
                <h5 class="mt-4 text-primary fs-3 fw-bold">Rs. {{ product.selling_price }}</h5>
                <h5 class="mb-4 text-secondary fs-6">M.R.P. <span class="text-secondary fs-6 text-decoration-line-through">{{ product.original_price }}</span> <span class="text-danger fs-4 fw-light">-{{ product.discount | stringformat:'d' }}% off</span></h5>
                <div class="my-2">
                    {% if product.quantity > 0 %}
                    <input type="hidden" value="{{ product.id }}" id="pid">
                    {% csrf_token %}
                    <p>
                        <div class="d-flex" style="width: 150px">
                            <button class="input-group-text bg-success text-light" id="btnMinus">👈</button>
                            <input type="text" name="qty" id="txtqty" value="1" class="form-control text-center mx-1" />
                            <button class="input-group-text bg-success text-light" id="btnPlus">👉</button>
                        </div>
                    </p>
                        <button class="btn btn-primary" id="btnCart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                    {% else %}
                        <button class="btn btn-secondary"><i class="fa fa-minus">Out of Stock</i></button>
                    {% endif %}
                    <button class="btn btn-danger" id="btnFav"> 💘</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const btnPlus = document.getElementById("btnPlus");
        const btnMinus = document.getElementById("btnMinus");
        const txtQty = document.getElementById("txtqty");
        const pid = document.getElementById("pid");
        const btnCart = document.getElementById("btnCart");
        const btnFav = document.getElementById("btnFav");
        const tkn = document.querySelector('[name="csrfmiddlewaretoken"]').value;


        btnPlus.addEventListener("click", function() {
            let qty = parseInt(txtQty.value, 10);
            qty = isNaN(qty)?0:qty;
            if(qty<10){
                qty++;
                txtQty.value= qty;
            }
        });
        btnMinus.addEventListener("click", function() {
            let qty = parseInt(txtQty.value, 10);
            qty = isNaN(qty)?0:qty;
            if(qty<10){
                qty--;
                txtQty.value= qty;
            }
        });
        btnCart.addEventListener("click", function() {
              let qty=parseInt(txtQty.value,10);
              qty=isNaN(qty)?0:qty;

              if(qty>0){
                let postObj = {
                    'product_qty': qty,
                    'pid': pid.value
                }
                //console.log(postObj);
                fetch("/addtocart",{
                  method: 'POST',
                  credentials: 'same-origin',
                  headers:{
                      'Accept': 'application/json',
                      'X-Requested-With': 'XMLHttpRequest',
                      'X-CSRFToken': '{{ csrf_token }}',
                  },
                  body: JSON.stringify(postObj)
                }).then(response => {
                    return response.json();
                }).then(data => {
                    //console.log(data);
                  alert(data['status']);
                });
              }else{
                alert("Please Enter The Quantity");
              }
          });
        btnFav.addEventListener("click", function() {
                let postObj = {
                    'pid': pid.value
                }
                fetch("/fav",{
                  method: 'POST',
                  credentials: 'same-origin',
                  headers:{
                      'Accept': 'application/json',
                      'X-Requested-With': 'XMLHttpRequest',
                      'X-CSRFToken': '{{ csrf_token }}',
                  },
                  body: JSON.stringify(postObj)
                }).then(response => {
                    return response.json();
                }).then(data => {
                    //console.log(data);
                  alert(data['status']);
                });
        });
    });
</script>
{% endblock %}